//Переменные которые позволяют быстро редактировать все элементы на  всем сайте
        
$color-grey: #777777
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$color-black: #000000
$color-white: #ffffff

$shadow: (0 .4rem .4rem rgba($color-black,.4))
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)

$margin-vertical-big: 8rem

$qgrid-width: 114rem
$gutter-horizontal: 6rem

$font-paragraph: 1.6rem
$font-paragraph-h3: 2rem
$font-paragraph-h2: 3.6rem
